## Importer mon bibliotheque

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

## Charger mon dataset

In [2]:
df = pd.read_csv("D:/ProjetPerso/analyse-donnees-fraude-marketing/data/marketing_campaign.csv" , sep=";")

In [3]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

## Analyser mon dataset

In [5]:
# # Affichzer le nombre de ligne et colonne et la taille du datasat


print("ligne_colonne : " ,  df.shape  ,  "  " , "taille : ", df.size )

ligne_colonne :  (2240, 29)    taille :  64960

In [7]:
df.columns.tolist()

['ID',
 'Year_Birth',
 'Education',
 'Marital_Status',
 'Income',
 'Kidhome',
 'Teenhome',
 'Dt_Customer',
 'Recency',
 'MntWines',
 'MntFruits',
 'MntMeatProducts',
 'MntFishProducts',
 'MntSweetProducts',
 'MntGoldProds',
 'NumDealsPurchases',
 'NumWebPurchases',
 'NumCatalogPurchases',
 'NumStorePurchases',
 'NumWebVisitsMonth',
 'AcceptedCmp3',
 'AcceptedCmp4',
 'AcceptedCmp5',
 'AcceptedCmp1',
 'AcceptedCmp2',
 'Complain',
 'Z_CostContact',
 'Z_Revenue',
 'Response']

In [ ]:
# Voici la traduction des colonnes de votre fichier CSV en français :

# ID – Identifiant
# Year_Birth – Année de naissance
# Education – Niveau d'éducation
# Marital_Status – État civil
# Income – Revenu
# Kidhome – Enfants à la maison
# Teenhome – Adolescents à la maison
# Dt_Customer – Date d'adhésion (Date du client)
# Recency – Récence (temps écoulé depuis le dernier achat)
# MntWines – Montant dépensé en vins
# MntFruits – Montant dépensé en fruits
# MntMeatProducts – Montant dépensé en produits carnés
# MntFishProducts – Montant dépensé en produits de poisson
# MntSweetProducts – Montant dépensé en produits sucrés
# MntGoldProds – Montant dépensé en produits en or
# NumDealsPurchases – Nombre d'achats avec réduction
# NumWebPurchases – Nombre d'achats en ligne
# NumCatalogPurchases – Nombre d'achats via catalogue
# NumStorePurchases – Nombre d'achats en magasin
# NumWebVisitsMonth – Nombre de visites sur le site web par mois
# AcceptedCmp3 – Campagne acceptée 3 (indicateur)
# AcceptedCmp4 – Campagne acceptée 4 (indicateur)
# AcceptedCmp5 – Campagne acceptée 5 (indicateur)
# AcceptedCmp1 – Campagne acceptée 1 (indicateur)
# AcceptedCmp2 – Campagne acceptée 2 (indicateur)
# Complain – Réclamation (indicateur)
# Z_CostContact – Coût de contact (variable interne)
# Z_Revenue – Revenu (variable interne)
# Response – Réponse à la campagne (indicateur)

In [13]:
df.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [11]:
df.isnull().sum().sort_values(ascending=False)

Income                 24
ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

##  Traitement de la dataset

## Analyse de données et tracer un graphe

 Regarder les valeurs des données pour comprendre les données, et essayer de trouver des correlations